{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<div class="registration__bg">

    <form action="." method="post" class="registration" style="max-width: 450px;" onsubmit="return false;">
        <p class="registration__message">
            You have deactivated Two-Factor Authentication and your account is less secure. 
        </p>
    
        <p class="registration__message">
            We <i>strongly</i> recommend using two-factor authentication to secure your account.
            If you need to disable 2FA, we recommend re-enabling it as soon as possible.
        </p>
        
        <div class="registration__footer">
            <p class="registration__message">
                <a href="/#/forms">Take me back to form builder <i class="k-icon-next"></i></a>
            </p>
        </div>
    </form>
</div>

{% endblock %}
